{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Simple Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Reporte
                </th>
                <th>
                  Serial
                </th>
                <th>
                  VBN
                </th>
                <th class="text-center">
                  Color
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for fila in eventos %}
                <td>
                  {{ fila[0] }}
                </td>
                <td>
                  {{ fila[1] }}
                </td>
                <td>
                  {{ fila[2] }}
                </td>
                <td>
                  {{ fila[3] }}
                </td>
                <td class="text-center">
                  {{ fila[4] }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
